.main-div{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.all-elements{
  font-size: 1.3rem;
}

body{
  background-color: cadetblue;
  font-weight: bold;
  color: white;
}

